@model IEnumerable<TallinnaRakenduslikKolledz.Models.TEKNO>

@{
	ViewData["Title"] = "Tehnika Infromatsioon";
}
<h2> Tehnika </h2>

<p>
	<a asp-action="Lisa uus Tehnika"></a>
</p>

<table class="tabel">
	<thead>
		<tr>
			<th>@Html.DisplayNameFor(Model => Model.TeknoID)</th>
			<th>@Html.DisplayNameFor(Model => Model.TeknoNimetus)</th>
			<th>@Html.DisplayNameFor(Model => Model.TeknoDescription)</th>
			<th>@Html.DisplayNameFor(Model => Model.TeknoArv)</th>
			<th>@Html.DisplayNameFor(Model => Model.TeknoHind)</th>
			<th>@Html.DisplayNameFor(Model => Model.TeknoAdmin)</th>
		</tr>
	</thead>

	<tbody>
		@foreach (var tekno in Model)
		{
			<tr>
				@Html.DisplayFor(modelItem => tekno.TeknoID)
			</tr>
			<tr>
				@Html.DisplayFor(modelItem => tekno.TeknoNimetus)
			</tr>
			<tr>
				@Html.DisplayFor(modelItem => tekno.TeknoArv)
			</tr>
			<tr>
				@Html.DisplayFor(modelItem => tekno.TeknoHind)
			</tr>
			<tr>
				@Html.DisplayFor(modelItem => tekno.TeknoAdmin)
			</tr>
			<tr>
				<a asp-action="Kustuta" asp-route-id="@tekno.TeknoID">Kustuta</a>
				<a asp-action="Muuda" asp-route-id="@tekno.TeknoID">Muuda</a>
				<a asp-action="Vaata" asp-route-id="@tekno.TeknoID">Vaata</a>
			</tr>
		}
</table>