@model TallinnaRakenduslikKolledz.Models.InstructorIndexData

@{ ViewData["Title"] = "õpetajad";

}
<h2>Õpetajad</h2>
<p>
	<a asp-action="Create">Lisa Õpetaja</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>PereKonnanimi</th>
			<th>EesNimi</th>
			<th>Töölevõtukuupäev</th>
			<th>Kabinet</th>
			<th>Kursused</th>
			<th>Hetkel kursuseid:</th>
			<th>😈Tööriistad</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var instructor in Model.Instructors)
		{
			string selectedRow = "";
			if (instructor.ID == (int?)ViewData["InstructorID"])
			{
				selectedRow = "table-succses";
			}
			<tr class="@selectedRow">
				<td>@Html.DisplayFor(modelItem => instructor.LastName)</td>
				<td>@Html.DisplayFor(modelItem => instructor.FirstName)</td>
				<td>@Html.DisplayFor(modelItem => instructor.HireDate)</td>
				<td>
					@if (instructor.OfficeAssignments != null)
					{
						@instructor.OfficeAssignments.Location
					}
				</td>
				<td>
					@foreach (var course in instructor.CourseAssignments)
					{
						@course.Course @: @course.Course.Title <br/>
														
					}
				</td>
				<td>@Html.DisplayFor(ModelItem => instructor.Palk)</td>
				<td>
					<a asp-action="Edit" asp-route-id="@instructor.ID">Muuda</a> 
					<a asp-action="Details" asp-route-itemid="@instructor.ID">Vaata</a>
					<a asp-action="Delete" asp-route-itemid="@instructor.ID">Kustuta</a>
				</td>

			</tr>

		}
	</tbody>

</table>
